{
    "IsEncrypted": false,
    "Values": {
        "AzureWebJobsStorage": "UseDevelopmentStorage=true",
        "FUNCTIONS_WORKER_RUNTIME": "node",
        "OTEL_SERVICE_NAME": "durable-js-otel-sample",
        "AzureFunctionsJobHost__extensions__durableTask__tracing__DistributedTracingEnabled": "true",
        "AzureFunctionsJobHost__extensions__durableTask__tracing__Version": "V2"
    }
}
